<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>level</key>
	<integer>3</integer>
	<key>data</key>
	<array>
		<dict>
			<key>key</key>
			<string>49</string>
			<key>value</key>
			<string>Start</string>
			<key>children</key>
			<array>
				<dict>
					<key>key</key>
					<string>4</string>
					<key>value</key>
					<string>Normal</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>key</key>
			<string>48</string>
			<key>value</key>
			<string>End</string>
			<key>children</key>
			<array>
				<dict>
					<key>key</key>
					<string>4</string>
					<key>value</key>
					<string>Normal</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>3</string>
					<key>value</key>
					<string>Stealth</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>2</string>
					<key>value</key>
					<string>hidden</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>key</key>
			<string>51</string>
			<key>value</key>
			<string>Hint</string>
			<key>children</key>
			<array>
				<dict>
					<key>key</key>
					<string>4</string>
					<key>value</key>
					<string>Normal</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>3</string>
					<key>value</key>
					<string>Stealth</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>2</string>
					<key>value</key>
					<string>hidden</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>key</key>
			<string>40</string>
			<key>value</key>
			<string>Quiz</string>
			<key>children</key>
			<array>
				<dict>
					<key>key</key>
					<string>4</string>
					<key>value</key>
					<string>Normal</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>3</string>
					<key>value</key>
					<string>Stealth</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>2</string>
					<key>value</key>
					<string>hidden</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>key</key>
			<string>52</string>
			<key>value</key>
			<string>Solution</string>
			<key>children</key>
			<array>
				<dict>
					<key>key</key>
					<string>4</string>
					<key>value</key>
					<string>Normal</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>3</string>
					<key>value</key>
					<string>Stealth</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>2</string>
					<key>value</key>
					<string>hidden</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>key</key>
			<string>50</string>
			<key>value</key>
			<string>Gambling</string>
			<key>children</key>
			<array>
				<dict>
					<key>key</key>
					<string>4</string>
					<key>value</key>
					<string>Normal</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>3</string>
					<key>value</key>
					<string>Stealth</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>2</string>
					<key>value</key>
					<string>hidden</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>key</key>
			<string>42</string>
			<key>value</key>
			<string>Run</string>
			<key>children</key>
			<array>
				<dict>
					<key>key</key>
					<string>4</string>
					<key>value</key>
					<string>Normal</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>3</string>
					<key>value</key>
					<string>Stealth</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>2</string>
					<key>value</key>
					<string>hidden</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>key</key>
			<string>55</string>
			<key>value</key>
			<string>Mine</string>
			<key>children</key>
			<array>
				<dict>
					<key>key</key>
					<string>1</string>
					<key>value</key>
					<string> </string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>key</key>
			<string>61</string>
			<key>value</key>
			<string>Defense</string>
			<key>children</key>
			<array>
				<dict>
					<key>key</key>
					<string>4</string>
					<key>value</key>
					<string>Normal</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>3</string>
					<key>value</key>
					<string>Stealth</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>2</string>
					<key>value</key>
					<string>hidden</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>key</key>
			<string>68</string>
			<key>value</key>
			<string>Mine Radar</string>
			<key>children</key>
			<array>
				<dict>
					<key>key</key>
					<string>4</string>
					<key>value</key>
					<string>Normal</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>3</string>
					<key>value</key>
					<string>Stealth</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>2</string>
					<key>value</key>
					<string>hidden</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>key</key>
			<string>66</string>
			<key>value</key>
			<string>MAP Radar</string>
			<key>children</key>
			<array>
				<dict>
					<key>key</key>
					<string>4</string>
					<key>value</key>
					<string>Normal</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>3</string>
					<key>value</key>
					<string>Stealth</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>key</key>
			<string>65</string>
			<key>value</key>
			<string>Stealth Radar</string>
			<key>children</key>
			<array>
				<dict>
					<key>key</key>
					<string>4</string>
					<key>value</key>
					<string>Normal</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>2</string>
					<key>value</key>
					<string>hidden</string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>key</key>
			<string>56</string>
			<key>value</key>
			<string>Dark</string>
			<key>children</key>
			<array>
				<dict>
					<key>key</key>
					<string>1</string>
					<key>value</key>
					<string> </string>
					<key>children</key>
					<array>
						<dict>
							<key>key</key>
							<string>30</string>
							<key>value</key>
							<string>30</string>
						</dict>
						<dict>
							<key>key</key>
							<string>40</string>
							<key>value</key>
							<string>40</string>
						</dict>
						<dict>
							<key>key</key>
							<string>50</string>
							<key>value</key>
							<string>50</string>
						</dict>
						<dict>
							<key>key</key>
							<string>60</string>
							<key>value</key>
							<string>60</string>
						</dict>
						<dict>
							<key>key</key>
							<string>70</string>
							<key>value</key>
							<string>70</string>
						</dict>
						<dict>
							<key>key</key>
							<string>80</string>
							<key>value</key>
							<string>80</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>90</string>
							<key>value</key>
							<string>90</string>
						</dict>
						<dict>
							<key>key</key>
							<string>100</string>
							<key>value</key>
							<string>100</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
